html {
    box-sizing: border-box;
}

body,
html {

    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

:root {
    /* colors */
    --background-header-color: #012D63;
    --main-text-color: #FFFFFF;
    --header-text-color: #C7C7C7;
    --header-language-color: #DCDCDC;
    --main-data-color: #D8D8D8;
    --adress-color: #959595;
    --button-color: #8E32C6;

    /* fonts */
    --main-fonts: 'Roboto', sans-serif;
    --logo-footer-fonts: 'PT Serif', serif;
    --title-main-fonts: 'Playfair Display', serif;
}

/*--------------------------------------------- header --------------------------------------------- */
.header {
    background-color: var(--background-header-color);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    /* outline: 2px solid red; */
}

.logo {
    margin-top: 16px;
    margin-bottom: 17px;
    width: 100px;
    height: 60px;
}

.header__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu__list {
    display: flex;
    align-items: center;
    gap: 0 20px;
}

.active {
    color: var(--main-text-color);
    font-family: var(--main-fonts);
    font-size: 24px;
    font-style: normal;
    font-weight: 400px;
    line-height: normal;
}

.menu-items {
    color: var(--header-text-color);
    font-family: var(--main-fonts);
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.item_a {
    color: var(--header-language-color);
    font-family: var(--main-fonts);
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.active_language {
    color: var(--main-text-color);
    font-family: var(--main-fonts);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*--------------------------------------------- main ---------------------------------------------*/
/*--------------------------------------------- section_1 ---------------------------------------------*/
.main_top {
    background-image: url(images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1600px;
    height: 858px;
}

.inner-image {
    margin-top: 94px;
    width: 160px;
    height: 120px;
}

.inner_h3 {
    color: var(--main-text-color);
    font-family: var(--logo-footer-fonts);
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 25px;
    margin-top: -29px;
}

.title {
    color: var(--main-text-color);
    font-family: var(--title-main-fonts);
    font-size: 144px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -60px;
    margin-left: -32px;
}

.inner_h2 {
    color: var(--main-text-color);
    font-family: var(--title-main-fonts);
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -150px;
    margin-left: -30px;
}

.inner_paragraph {
    color: var(--main-text-color);
    font-family: var(--main-fonts);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -50px;
    margin-bottom: 41px;
}

.inner_button {
    background-color: var(--button-color);
    border: none;
    border-radius: 10px;
    width: 254px;
    height: 67px;
    cursor: pointer;
    color: var(--main-text-color);
    font-family: var(--main-fonts);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0;
    margin: 0;
}

.inner_button:hover {
    background-color: #6f259d;
    transition: 0.3s;

}



/*--------------------------------------------- section_2 ---------------------------------------------*/
.section_benefits {
    background-image: url(images/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1600px;
    height: 606px;
}

.inner_benefits {
    padding-top: 105px;
    margin-top: -20px;
}

.benefits_list {
    display: flex;
    gap: 145px;
    /* border: 5px solid var(--button-color); */
    padding: 22px;
}

.items_name {
    color: var(--main-text-color);
    text-align: center;
    font-family: var(--title-main-fonts);
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.benefits_item {
    margin: 0;
    padding: 0;
}

.line_benefits {
    border-left: 1px solid var(--main-text-color);
    border-right: 1px solid var(--main-text-color);
}

/*--------------------------------------------- section_3 ---------------------------------------------*/
.section_reviews {
    background-image: url(images/bg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1600px;
    height: 520px;
    outline: 2px solid red;
}

.section_reviews_flower {
    transform: translate(0, 140px);
}

.reviews_title {
    color: var(--main-text-color);
    font-family: var(--title-main-fonts);
    font-size: 48px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: -340px;
}

.reviews_list {
    display: flex;
    gap: 93px;

}

.reviews_item {
    outline: 2px solid red;

}

.reviews_item_1 {
    border-radius: 15px;
    box-shadow: 0px 30px 0px -13px rgb(83, 57, 120), 0px 14px 0px -5px rgb(123, 84, 179);
    background: linear-gradient(135.00deg, rgb(0, 229, 230) 7.292%, rgb(0, 168, 247) 26.042%, rgb(154, 118, 249) 62.5%, rgb(204, 94, 194) 100%);
}

.reviews_item_2 {
    border-radius: 15px;

    box-shadow: 0px 30px 0px -13px rgb(97, 51, 124), 0px 14px 0px -5px rgb(145, 89, 177);
    background: linear-gradient(135.00deg, rgb(255, 104, 180) 0%, rgb(255, 69, 225) 26.042%, rgb(206, 58, 255) 62.841%, rgb(137, 97, 255) 100%);
}

.reviews_item_3 {
    border-radius: 15px;

    box-shadow: 0px 30px 0px -13px rgb(115, 47, 38), 0px 14px 0px -5px rgb(185, 90, 76);
    background: linear-gradient(135.00deg, rgb(255, 225, 40) 0%, rgb(255, 155, 92) 30.208%, rgb(255, 131, 129) 63.286%, rgb(255, 84, 137) 100%);
}

.reviews__item_title {
    color: var(--main-text-color);
    font-family: var(--main-fonts);
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 49px;
    margin-left: 18px;
    margin-right: 18px;
    margin-bottom: 131px;
}

.reviews_paragraph {
    color: var(--main-data-color);
    font-family: var(--main-fonts);
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    margin-left: 18px;
    margin-top: -125px;
}